body {
    background-color: #f6ecc4;
    background-image: linear-gradient(315deg, #f6ecc4 0%, #f7d4d4 74%);
    margin-left: auto;
    margin-right: auto;
   


}

h1,
h2,
h3 {
    color: antiquewhite;
    text-shadow: 2px 2px 4px #ff8489;
    font-family: 'Inconsolata', monospace;
    font-family: 'Kanit', sans-serif;
}

p {
    color: #ff8489;
    text-shadow: 2px 2px 4px #ffffff;
    font-size: 110%;
    font-family: 'Inconsolata', monospace;
    font-family: 'Kanit', sans-serif;


}

.card p {
    color: green;
    text-shadow: 2px 2px 4px #a0e4a5;
    font-size: 110%;
    font-family: 'Handlee', cursive;
    text-decoration: none;
}

.container .card {
    background-color: #d5adc8;
    background-image: linear-gradient(315deg, #d5adc8c3 0%, #ff8488a9 74%);
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;

}

.row {

    width: 100%;
}

a {
    font-family: 'Handlee', cursive;
    text-decoration: none;
}

a:link {
    color: green;
}

/* visited link */
a:visited {
    color: rgb(2, 69, 2);
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

.card-header> p {
    color: antiquewhite;
    text-shadow: 2px 2px 4px #ff8489;
    font-family: 'Inconsolata', monospace;
    font-family: 'Kanit', sans-serif;
}

.card-header { 
    background-color: #d5adc885 !important;
}

footer .card {
    background-color: #ff848850 !important;
  
}
